# 忽略 unpackage 目录
/unpackage/

# 其他常见的需要忽略的文件和目录
.DS_Store
node_modules/
dist/
.env.local
.env.*.local
.env

# 编辑器目录和文件
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 日志文件
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 本地环境文件
.env.local
.env.*.local

# 构建产物
.hbuilderx/ 